    body {background-color: yellow;}

    a:link {color: red;}
    
    a:visited {color: blue;}
    
    .h1_modified {color: red;   text-align: center; margin-top: 0;}
    
    .h2_modified {color: blue;   text-align: right; font-style: italic; }
    
    .h3_modified {color: red;   text-align: right;}
    
    .table_modified {background-color:cyan;  border-collapse: separate; border-spacing: 5px;}
    
    .cell_modified {padding: 10px;}
    
    .first_letter {font-size: 3em;  font-style: italic;  font-weight: bold;}
    
    .red_font {color: red;}
    
    .h2_modified.exc_end {font-size: 3em; margin-top: 20px; margin-bottom: 20px;}
    
    .col_two {text-align: center;}
